.container {
  margin: 20px 40px;

  @media (max-width: 600px) {
    margin: 10px 8px;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 14px;
  margin-top: 10px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.emptyPage {
  margin-top: 50px;
  text-align: center;
}
